.container {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 16px 16px 16px 32px;

  background-color: #ECEFF1;
}

.logo {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .56);
}

.contact {
  display: flex;
  gap: 24px;
}

fa-icon {
  color: rgba(0, 0, 0, .56);
}

fa-icon:hover {
  color: rgba(0, 0, 0, .80);
}