.go-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
}

button {
  padding: 15px 20px;
  border: none;
  border-radius: 50%;

  box-shadow: 5px 2.5px 2.5px rgba(0, 0, 0, .56);

  cursor: pointer;
  background-color: #ffccbf;
}

button fa-icon {
  color: rgba(0, 0, 0, .56);
}
