.container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: .2rem;
  grid-auto-rows: 200px;
  grid-auto-flow: dense
}

.gallery-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: .4s linear;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

.h-1 {
  grid-row: auto;
}

.h-2 {
  grid-row: span 2;
}

.w-1 {
  grid-column: auto;
}

.w-2 {
  grid-column: span 2;
}


/* "screen and (min-width: 0px) and (max-width: 599.98px)" */
.col-md-xs {
  grid-template-columns: 1,1fr;
}
/* "screen and (min-width: 600px) and (max-width: 959.98px)" */
.col-md-sm {
  grid-template-columns: repeat(2,1fr);
}
 
/* "screen and (min-width: 960px) and (max-width: 1279.98px)" */
.col-md-md {
  grid-template-columns: repeat(6,1fr);
}
/* "screen and (min-width: 1280px) and (max-width: 1919.98px)" */
.col-md-lg {
  grid-template-columns: repeat(8,1fr);
}

