<div *ngIf="imageList.length > 0">
  <div [class]="'container '+'col-md-'+mqAlias">
    <ng-container class="gallery-container">
      <div [class.lazy]="i >= 0"
       class="gallery-item" 
       *ngFor="let image of imageList; let i=index"
       [ngClass]="[image.width >= fullHDWidth && mqAlias !== 'xs' ? 'w-2' : 'w-1',
       image.height >= fullHDHeight ? 'h-2' : 'h-1']">
          <app-image [imageObject]="image"></app-image>
      </div>
    </ng-container>
  </div>
  <app-fade [show]="toScroll">
    <app-gradient></app-gradient>
  </app-fade>
  
  <span class="scroll_tag" #scroll style="visibility: hidden;">-</span>
</div>


